@font-face {
  font-family: "ChristmasSquad";
  src: local("ChristmasSquad"), url("../Fonts/ChristmasSquad.otf");
}

@font-face {
  font-family: "MeltedMonster";
  src: local("MeltedMonster"), url("../Fonts/MeltedMonster.ttf");
}

.countdown-container {
  margin-top: 2%;
  display: flex;
  width: 100%;
  justify-content: center;
}

.countdown-container-2 {
  width: 60%;
  font-family: ChristmasSquad, "Courier New", Courier, monospace;
  color: white;
}

.dark-countdown-container-2 {
  width: 60%;
  font-family: MeltedMonster, "Courier New", Courier, monospace;
  color: white;
}

.countdown-christmas {
  font-size: 4.5em;
  margin: 5px;
  text-shadow: 10px 10px 5px black;
}

.countdown-date {
  font-size: 3em;
  padding: 10px;
}
