@font-face {
  font-family: "MerryChristmasStar";
  src: local("MerryChristmasStar"), url("../Fonts/MerryChristmasStar.ttf");
}

.App-modal {
  font-family: MerryChristmasStar, "Courier New", Courier, monospace;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  color: rgb(214, 0, 0);
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}
