* {
  margin: 0;
  padding: 0;
}
.App {
  background-image: url("../src/images/background.jpg");
}

.App-darkMode {
  background-image: url("../src/images/horror2.jpg");
}

.App,
.App-darkMode {
  background-size: cover;
  text-align: center;
  padding: 2% 2%;
}

@media screen and (max-width: 812px) {
  .App,
  .App-darkMode {
    height: 200vh;
  }
}

@media screen and (max-width: 420px) {
  .App,
  .App-darkMode {
    height: 150vh;
  }
}
